{% extends 'base.html.twig' %}

{% block title %}Application index{% endblock %}

{% block body %}
<div class="container">
    <div class="d-flex justify-content-end align-items-center m-5">
        <h1 class="flex-grow-1 text-center">Mes candidatures</h1>
        <a class='btn btn-secondary' href="{{ path('application_new') }}">Ajouter une candidature</a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Entreprise</th>
                    <th>Nom du contact</th>
                    <th>Date de candidature</th>
                    <th>A répondu</th>
                    <th>Date de relance</th>
                    <th>Ville</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for application in applications %}
                <tr>
                    <td>{{ application.company }}</td>
                    <td>{{ application.contactName }}</td>
                    <td>{{ application.applicationDate ? application.applicationDate|date('d-m-Y H:i:s') : '' }}</td>
                    <td>{{ application.hasResponse ? 'Yes' : 'No' }}</td>
                    <td>{{ application.relaunchDate ? application.relaunchDate|date('d-m-Y H:i:s') : '' }}</td>
                    <td>{{ application.city }}</td>
                    <td>
                        <a class='btn btn-secondary' href="{{ path('application_show', {'id': application.id}) }}">Détails</a>
                        <a class='btn btn-secondary' href="{{ path('application_edit', {'id': application.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="11">Pas de candidature pour l'instant!!! <a href="{{ path('search_filter_new') }}">Lancer une recherche ?</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
