{% extends 'base.html.twig' %}

{% block title %}Application{% endblock %}

{% block body %}
<div class="container">
    <div class="d-flex justify-content-end align-items-center m-5">
        <div class="d-flex flex-column justify-content-md-between">
            <a class="btn btn-secondary mb-2" href="{{ path('application_index') }}">Mes candidatures</a>
            <a class="btn btn-secondary mb-2" href="{{ path('application_edit', {'id': application.id}) }}">Modifier</a>
        </div>
        <h1 class="text-center m-4 flex-grow-1">{{ application.company}}</h1>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ application.id }}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ application.company }}</td>
            </tr>
            <tr>
                <th>ContactName</th>
                <td>{{ application.contactName }}</td>
            </tr>
            <tr>
                <th>TypeOfCompany</th>
                <td>{{ application.typeOfCompany }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ application.description }}</td>
            </tr>
            <tr>
                <th>ApplicationDate</th>
                <td>{{ application.applicationDate ? application.applicationDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>HasResponse</th>
                <td>{{ application.hasResponse ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>RelaunchDate</th>
                <td>{{ application.relaunchDate ? application.relaunchDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>InterviewResume</th>
                <td>{{ application.interviewResume }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ application.city }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
