{% extends 'base.html.twig' %}

{% block title %}Rechercher un emploi{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('search') }}
{% endblock %}
{% block body %}
    <h1>Rechercher un emploi</h1>

    {{ include('search_filter/_form.html.twig') }}
 {# <pe-offres-emploi></pe-offres-emploi> #}
    <a href="{{ path('search_filter_index') }}">back to list</a>

    <div>
        {% if result is defined %}
            <div class="container">
                {% for job in result %}
                    <h2><a href="{{ path('search_filter_show', {'id': job.id}) }}">{{job.job}}</a></h2>
                    <p>{{ job.company}}</p>
                    <p>{{ job.city}}</p>
                    <p>{{ job.description}}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
