{% extends 'base.html.twig' %}

{% block title %}SearchFilter{% endblock %}

{% block body %}
    <h1>{{job.job}}</h1>

    <div>
        <div class="container">
            <h2><a href="{{ path('search_filter_show', {'id': job.id}) }}">{{job.job}}</a></h2>
            <p>{{ job.company}}</p>
            <p>{{ job.city}}</p>
            <p>{{ job.description}}</p>
        </div>
    </div>
    <a href="{{ path('send_mail', {'offerId': job.id}) }}">Candidater</a>

    <a href="{{ path('search_filter_index') }}">Retour à la recherche</a>


{% endblock %}
