{% extends 'base.html.twig' %}

{% block title %}SearchFilter{% endblock %}

{% block body %}
    <h1>SearchFilter</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ search_filter.id }}</td>
            </tr>
            <tr>
                <th>Job</th>
                <td>{{ search_filter.job }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ search_filter.city }}</td>
            </tr>
            <tr>
                <th>Perimeter</th>
                <td>{{ search_filter.perimeter }}</td>
            </tr>
            <tr>
                <th>TypeOfContract</th>
                <td>{{ search_filter.typeOfContract }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('search_filter_index') }}">back to list</a>

    <a href="{{ path('search_filter_edit', {'id': search_filter.id}) }}">edit</a>

    {{ include('search_filter/_delete_form.html.twig') }}
{% endblock %}
